<div class="col">
    <p class="mb-3  bd-text-purple-bright">
        管理员列表
    </p>
    <div class="form-inline ">
        <div class="col-10 ">
        </div>
        <div class="col-2">
            <button class="btn btn-primary" id="btnAddShow">增加</button>
        </div>
    </div>
    <table id="grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    </table>
</div>

<div id="dialog" style="display:none">
    <form>
        <input type="hidden" name="AdminId" value="0"/>
        <div class="form-group ml-2">
            <div class="form-group form-inline row">
                <label class="col-4 control-label">帐号</label>
                <div class="col-5">
                    <input type="text" class="form-control" maxlength="15" placeholder="帐号" name="Account" autocomplete="off" />
                </div>
            </div>
            <div class="form-group form-inline row password">
                <label class="col-4 control-label">密码</label>
                <div class="col-5">
                    <input type="text" class="form-control" maxlength="15" placeholder="密码" name="Password" autocomplete="off" />
                    <small class="form-text text-muted">不修改请留空</small>
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-4 control-label">主管理员 </label>
                <div class="col-5">
                    <input type="checkbox" class="form-control" name="IsRoot" />
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts{

    <script type="text/javascript">

        var $dialog, $grid;

        $(function () {
            $grid = $('#grid').bootstrapTable(
                $.extend(baseTableoption, {
                    uniqueId: "AdminId",
                    columns: [{
                        field: 'Account',
                        title: '账号'
                    }, {
                        field: 'ClientIP',
                        title: '客户端IP'
                    }, {
                        title: '添加时间', formatter: function (value, row, index) {
                            return DatetimeFormat(row.CreateDate)
                        }
                    }, {
                        title: '主管理员', formatter: function (value, row, index) {
                            return row.IsRoot ? "是" : "否";
                        }
                    }, {
                        title: '管理', formatter: function (value, row, index) {
                            var btn = "<button onclick='AdminDialog(" + index + ")' class='btn-info btn-sm m-1'>修改</button>";
                            if (admin.AdminId != row.AdminId) {
                                btn += "<button onclick='Delete(" + index + ")' class='btn-danger btn-sm m-1'>删除</button>";
                            }
                            return btn;
                        }
                    }]
                })
            );


            QueryPageList();



            $("#btnAddShow").on("click", function () {
                AdminDialog();
            });
        });


        function QueryPageList() {
            var gridopt = $grid.bootstrapTable("getOptions");
            CY.Ajax("AdminPageList", {
                Token: Store.Token()
            }, {
                pageindex: gridopt.pageNumber,
                pagesize: gridopt.pageSize
            }, function (msg) {
                if (msg.Result) {
                    $grid.bootstrapTable('load', msg.Data);
                }
                else {
                    $.toast(msg.Message);
                }
            });
        }

        function AdminDialog(gridIndex) {
            $dialog = bootbox.dialog({
                show: false,
                title: "管理员管理",
                message: $("#dialog").html(),
                buttons: {
                    confirm: {
                        label: "保存",
                        className: "btn-success",
                        callback: function () {
                            if ($dialog.find("form").valid()) {
                                var model = $dialog.FormGet();
                                CY.Ajax("AdminSave", {
                                    Token: Store.Token()
                                },
                                    {
                                        "adminid": model.AdminId,
                                        "account": model.Account,
                                        "password": model.Password,
                                        "isroot": model.IsRoot
                                    },
                                    function (msg) {
                                        if (msg.Result) {
                                            $.toast("操作成功！");
                                        } else {
                                            $.toast(msg.Message);
                                        }
                                        $dialog.modal("hide");
                                        QueryPageList();
                                    });
                            }
                            return false;
                        }
                    }
                }
            });


            if (gridIndex >= 0) {
                var model = $grid.bootstrapTable("getData")[gridIndex];
                $dialog.FormSet(model);
                if (admin.AdminId == model.AdminId) {
                    $dialog.find("form").find("[name='Account']").prop("readonly", true);
                    $dialog.find("form").find("[name='IsRoot']").prop("disabled", true);
                }

                $dialog.find("form").validate_popover({
                    rules: {
                        Account: {
                            required: true,
                            rangelength: [3, 15],
                        }
                    }
                });
            } else {
                $dialog.find("form").validate_popover({
                    rules: {
                        Account: {
                            required: true,
                            rangelength: [3, 15],
                        },
                        Password: {
                            rangelength: [5, 20],
                        }
                    }
                });
            }

            $dialog.modal("show");
        }

        function Delete(gridIndex) {
            if (gridIndex>=0) {
                var model = $grid.bootstrapTable("getData")[gridIndex];
                bootbox.confirm("是否确认?", function (result) {
                    if (result) {
                        CY.Ajax("AdminDelete", {
                            Token: Store.Token()
                        },
                            {
                                "adminid": model.AdminId
                            },
                            function (msg) {
                                if (msg.Result) {
                                    $.toast("操作成功！");
                                } else {
                                    $.toast(msg.Message);
                                }
                                QueryPageList();
                            });
                    }
                });
            }
        }


    </script>
}
