<div class="row align-items-center" style="box-shadow: 0 0 30px #dfdcff">
    <div class="order-md-1 text-center text-md-left pr-md-5">
        <div class="main-top">
            <h5 class="bd-text-purple-bright">尊敬的管理员：<span id="adminaccount"></span>，欢迎您！ </h5>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var admin = Store.Admin();
        if (admin) {
            $("#adminaccount").text(admin.Account);
        }
    </script>
}

