<div class="col">
    <p class="mb-3  bd-text-purple-bright">
        供货管理
    </p>
    <div class="form-inline mt-2">
        <div class="col-8">
        </div>
        <div class="col-2">
            <button class="btn btn-info btn-sm" id="btnSetOpen">批量设置成本</button>
        </div>
    </div>
    <table id="grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    </table>
</div>

<div id="dialog">
    <form>
        <div class="form-group form-inline row">
            <label class="col-lg-4 control-label">
                <input type="radio" name="set" value="1" /> 成本价 = 供货价
            </label>
            <div class="col-lg-8">
            </div>
        </div>
        @*<div class="form-group form-inline row">
                <label class="col-lg-4 control-label">
                    <input type="radio" name="set" value="2" /> 成本价 = 面值
                </label>
                <div class="col-lg-8">
                </div>
            </div>*@
        <div class="form-group form-inline row">
            <label class="col-lg-4 control-label">
                <input type="radio" name="set" value="3" /> 成本价 =
            </label>
            <div class="col-lg-8">
                <input type="text" class="form-control w-100" name="EqualPrice" />
            </div>
        </div>
        <div class="form-group form-inline row">
            <label class="col-lg-4 control-label">
                <input type="radio" name="set" value="4" /> 成本价 +
            </label>
            <div class="col-lg-8">
                <input type="text" class="form-control w-100" name="AddPrice" />
            </div>
        </div>
        <div class="form-group form-inline row">
            <label class="col-lg-4 control-label">
                <input type="radio" name="set" value="5" /> 成本价 x
            </label>
            <div class="col-lg-8">
                <input type="text" class="form-control w-100" name="TimesPrice" />
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script>
        var grid = $('#grid').bootstrapTable(
            $.extend(baseTableoption, {
                uniqueId: "ProductId",
                columns: [
                    { checkbox: true },
                    {
                        field: 'Name',
                        title: '商品名称'
                    }, {
                        field: 'FaceValue',
                        title: '面值'
                    }, {
                        title: '供货价', formatter: function (value, row, index) {
                            return row.Price.Format0(2);
                        }
                    }, {
                        title: '成本价', formatter: function (value, row, index) {
                            return row.PriceStock.Format0(2);
                        }
                    }, {
                        title: '利润', formatter: function (value, row, index) {
                            var Profit = row.PriceStock - row.Price;
                            if (Profit >= 0)
                                return "<label class='badge badge-success' title='" + Profit.Format0(2) + "'><i class=\"fa fa-check\"></i>" + Profit.Format0(2) + "</label>";
                            return "<label class='badge badge-danger' title='" + Profit.Format0(2) + "'><i class=\"fa fa-times\"></i>" + Profit.Format0(2) + "</label>";
                        }
                    }]
            })
        );
        QueryPageList = function () {
            var gridopt = grid.bootstrapTable("getOptions");
            CY.Ajax("ProductSupplyPageList", {
                Token: Store.Token()
            }, {
                pageindex: gridopt.pageNumber,
                pagesize: gridopt.pageSize
            }, function (msg) {
                grid.bootstrapTable('load', msg.Data);
            });
        }
        QueryPageList();
        var dialog;
        $("#btnSetOpen").on("click", function () {
            var list = grid.bootstrapTable("getSelections");
            if (list.length == 0) {
                $.toast("请选择所要设置的商品！");
            } else {
                dialog = bootbox.dialog({
                    show: false,
                    title: "批量设置成本",
                    message: $("#dialog").html(),
                    buttons: {
                        confirm: {
                            label: "保存",
                            className: "btn-success",
                            callback: function () {
                                bootbox.confirm("是否确认?", function (result) {
                                    if (result) {
                                        var set = dialog.find(":radio:checked").val();
                                        if (set == 1) {
                                            $.each(list, function (index, item) {
                                                item.PriceStock = item.Price;
                                            });
                                        }
                                        else if (set == 2) {
                                            $.each(list, function (index, item) {
                                                item.PriceStock = item.FaceValue;
                                            });
                                        }
                                        else if (set == 3) {
                                            $.each(list, function (index, item) {
                                                item.PriceStock = dialog.find("[name='EqualPrice']").val().ParseFloat();
                                            });
                                        }
                                        else if (set == 4) {
                                            $.each(list, function (index, item) {
                                                item.PriceStock += dialog.find("[name='AddPrice']").val().ParseFloat();
                                            });
                                        }
                                        else if (set == 5) {
                                            $.each(list, function (index, item) {
                                                item.PriceStock *= dialog.find("[name='TimesPrice']").val().ParseFloat();
                                            });
                                        }
                                        CY.Ajax("ProductSupplyUpdatePriceStock", {
                                            Token: Store.Token()
                                        },
                                            {
                                                "list": JSON.stringify(list)
                                            },
                                            function (msg) {
                                                if (msg.Result) {
                                                    $.toast("操作成功！");
                                                } else {
                                                    $.toast(msg.Message);
                                                }
                                                dialog.modal("hide");
                                                QueryPageList();
                                            });
                                    }
                                });
                                return false;
                            }
                        }
                    }
                });
                dialog.find("[name='set']").first().click();
                dialog.modal("show");
            }
        });
    </script>
}
