@using LPayments
<!doctype html>
<html>
<head>
    <partial name="Widgets/_Header" />
</head>

<body>
    <!--主框架-->
    <div id="page">
        <div class="home-header flex flex-center items-center txt-white font-family-T">订单支付</div>
        <div class="home-box column">
            <div class="company col flex items-center">
                <div class="content">
                    @ViewBag.Store.Name
                    <br>
                    @ViewBag.Order.Name
                    <br>
                    @ViewBag.Order.OrderId
                    <br>
                    @ViewBag.Order.PayAmount
                </div>
            </div>
            <div class="stores-hot col-auto" id="payments">
            </div>
        </div>
    </div>

    <script id="tmpl_payments" type="text/x-dot-template">
        {{~it.initials:initial:i}}
        <ul name="initial-{{=initial}}">
            <span class="letter-title">{{=initial}}</span>
            {{ for(var j=0; j<it.datas[initial].length; j++) { }}
            <li><a href="/s/{{=it.datas[initial][j].uniqueId}}"><img src="{{=it.datas[initial][j].logo}}" /><span>{{=it.datas[initial][j].name}}</span></a></li>
            {{ } }}
        </ul>
        {{~}}
    </script>

<script src="https://cdn.staticfile.org/qrcode-generator/1.4.4/qrcode.min.js"
    asp-fallback-test="window.qrcode"
    asp-fallback-src="~/lib/qrcode-generator/qrcode.min.js"></script>

    <script>
    var payTickets =@Json.Serialize(ViewBag.PayTickets);
    $(function () {        
        $("#name").text(order.name);
        $("#qty").text("X" + order.quantity);
        $("#amount").text("￥" + (order.amount * order.quantity - order.reduction));
        $("#contact").text(order.contact);
        $("#message").text(order.message);
        
        var ismobile = CY.Page.Browser.versions.mobile;
        var payments = [];
        for (const i in payTickets) {
            if (ismobile){
                if (payTickets[i].payType === 1){
                    if (payTickets[i].token === "alipay"){
                        payments.push({
                            name : payTickets[i].message,
                            img : payTickets[i].uri,
                            link : payTickets[i].uri,
                        });
                    }
                }else if (payTickets[i].payType === 3){                    
                    payments.push({
                        name : payTickets[i].message,
                        img : payTickets[i].uri,
                        link : payTickets[i].uri,
                    });
                }else if (payTickets[i].payType === 5){                    
                    payments.push({
                        name : payTickets[i].message,
                        img : payTickets[i].uri,
                        link : payTickets[i].uri,
                    });
                }
            }else{                
                if (payTickets[i].payType === 1){
                    payments.push({
                        name : payTickets[i].message,
                        img : payTickets[i].uri,
                        link : payTickets[i].uri,
                    });
                }else if (payTickets[i].payType === 2){
                    payments.push({
                        name : payTickets[i].message,
                        img : payTickets[i].uri,
                        link : payTickets[i].uri,
                    });                    
                }else if (payTickets[i].payType === 5){
                    payments.push({
                        name : payTickets[i].message,
                        img : payTickets[i].uri,
                        link : payTickets[i].uri,
                    });                    
                }
            }
          console.log( payTickets[i]);
        }
        
        //$("#payments").html(doT.template($("#tmpl_payments").text())({ 'initials': initials, 'datas': payTickets}));
    });
    </script>
</body>
</html>
