<!--背景阴影-->
<div class="blackmask"></div>
<!--支付方式弹出窗口-->
<div class="dialog-box" id="payment" style="display:none">
    <div class="dialog-wrapper">
        <div class="dialog">
            <div class="close dialog-close">
                <i class="fas fa-times"></i>
            </div>
            <div class="title">请选择支付方式</div>
            <div class="content" >
                <div class="payments row" id="payments">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    
    /*支付方式*/
    .payments {
        display:flex;
        justify-content: space-evenly;
    }

    .payments .payment {
       /*margin: 0.1rem 0.2rem;*/
       text-align: center;
       width: 100%;
    } 
    .payments .payment .subject{
        background-color: #f7f7f7;
        border-bottom:1px solid grey;
        border-radius: 0.08rem;
        text-align: center;
        width: 100%;
        display: inline-block;
    }

    .payments .payment > div {
            display: none;
    }
    /*.payments .payment > div:first-child {*/
    /*         display: block;*/
    /* }*/

    .payments .payment > div img {
        width: 4rem;
        height: 4rem;
        margin: 0.2rem;
        cursor: pointer;
    }
</style>

<script id="tmpl_payments" type="text/x-dot-template">
    {{~it.payments :prop:index}}
     <div class="payment">
        <label class="subject">{{=prop.name}}</label>
        <div> 
            <a href="{{=prop.link}}">
                <img src="{{=prop.img}}" alt="{{=prop.name}}"/>
            </a>
        </div>        
    </div>
    {{~}}
</script>

<script src="https://cdn.staticfile.org/qrcode-generator/1.4.4/qrcode.min.js"
        asp-fallback-test="window.qrcode"
        asp-fallback-src="~/lib/qrcode-generator/qrcode.min.js"></script>

<script>
    var Payment = {};
    var $payment_dialog = $("#payment .dialog");

    Payment.Show = function (paytickets) {
        if (paytickets && paytickets.length > 0) {  
            var ismobile = CY.Page.Browser.versions.mobile;
            var payments = [];
            for (const i in payTickets) {                
                if (ismobile){
                    //二维码
                    if (payTickets[i].dataFormat === 3){
                        if (payTickets[i].name === "alipay"){                            
                            if (payTickets[i].dataContent.indexOf('//qr.alipay.com/') > -1){
                                payTickets[i].dataContent = 'alipays://platformapi/startapp?saId=10000007&qrcode='+encodeURIComponent(payTickets[i].uri);
                            }if (payTickets[i].dataContent.indexOf('appId=09999988') > -1){
                                payTickets[i].dataContent = 'alipays://platformapi/startapp?appId=20000067&url='+encodeURIComponent(payTickets[i].uri);
                             }                        
                            payments.push({
                                name : payTickets[i].message,
                                img : '/images/alipay.png',
                                link : payTickets[i].dataContent,
                            });
                        }                        
                    }
                    //支付链接
                    else if (payTickets[i].dataFormat === 1){                    
                        payments.push({
                            name : payTickets[i].message,
                            img : payTickets[i].name.includes("alipay") ? '/images/alipay.png' :'/images/wechat.png',
                            link : payTickets[i].dataContent,
                        });
                    }
                }else{                
                    //二维码
                    if (payTickets[i].dataFormat === 3){
                        if (payTickets[i].dataContent.indexOf('appId=09999988') > -1){
                            payTickets[i].dataContent = 'alipays://platformapi/startapp?appId=20000067&url='+encodeURIComponent(payTickets[i].uri);
                        }
                        payments.push({
                            name : payTickets[i].message,
                            img : qrcodeImg(payTickets[i].dataContent),
                            link : '#',
                        });
                    }
                    //支付链接
                    else if (payTickets[i].dataFormat === 1){
                        payments.push({
                            name : payTickets[i].message,
                            img : payTickets[i].name.includes("alipay") ? '/images/alipay.png' :'/images/wechat.png',
                            link : payTickets[i].dataContent,
                        });
                    }
                }
            }
            $("#payments").html(doT.template($("#tmpl_payments").text())({ payments }));
            $("#payments").find(".payment > .subject").click(function (){
                $("#payments").find(".payment > div").hide("normal");
                var $payment = $(arguments[0].target).parent(".payment");
                $payment.find("div").show("slow");
            });
        }
        
        $(".blackmask,#payment").fadeIn(150);
        $payment_dialog.addClass("fadeIn-up");
        $payment_dialog.removeClass("fadeOut-up");

        //关闭付款方式选择页面
        $("#payment").find(".dialog-close").click(function () {
            $(".blackmask,#payment").fadeOut(150);
            $payment_dialog.addClass("fadeOut-up");
            $payment_dialog.removeClass("fadeIn-up");
        });

        if (arguments.length === 4) {
            Payment.orderId = undefined;
            Payment.productId = arguments[0];
            Payment.quantity = arguments[1];
            Payment.contact = arguments[2];
            Payment.message = arguments[3];

        } else if (arguments.length === 1) {
            Payment.orderId = arguments[0];
        }
    }

    Payment.AppLaunched = function (isVisibility) {
        if (!isVisibility && Payment.orderId) {
            location.href = "/o/" + Payment.orderId;
        }
    }
    
    function qrcodeImg(str) {
        var qr = qrcode(0, "Q");
        qr.addData(str);
        qr.make();
        return qr.createDataURL(4,1);
    }    

</script>