@charset "utf-8";
/* CSS Document */
/* Design For QQ:257654 */
/* Date 2019-12-24*/
* {padding: 0; margin: 0; box-sizing: border-box; -webkit-tap-highlight-color: transparent} 
*:focus {outline: none}
h1,h2,h3,h4,h5,h6 {font-weight: normal}
ul,li,i,em {list-style-type: none; font-style: normal}
img {border: 0px; padding: 0; margin: 0}
input,select,textarea {font-size: 14px; color: #666; font-family: "Verdana","Tahoma","Microsoft Yahei"}
p {display: block; margin-block-start: 0; margin-block-end: 1em; margin-inline-start: 0; margin-inline-end: 1px}

html,body {width: 100%; height: 100%; position: relative}
body {font-size: 14px; color: #333; font-family: "Verdana","Tahoma","Microsoft Yahei"; transition: all .3s}
a {font-size: 14px; color: #333; text-decoration: none; vertical-align: baseline; cursor: pointer; transition: all .3s}
a:visited , a:active {color: #333}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #b5b5b5}
input:-moz-placeholder, textarea:-moz-placeholder {color: #b5b5b5}
input::-moz-placeholder, textarea::-moz-placeholder {color: #b5b5b5}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #b5b5b5}

::after,::before {-webkit-box-sizing: border-box; box-sizing: border-box}
::-webkit-scrollbar {width: 10px; background: transparent; border-radius: 100px}
::-webkit-scrollbar:hover {background: rgba(0,0,0,.07)}
::-webkit-scrollbar:horizontal {height: 0}
::-webkit-scrollbar-thumb:vertical {background: rgba(0,0,0,.3); border-radius: 100px}
::-webkit-scrollbar-thumb:active {background: rgba(0,0,0,.5); border-radius: 100px}

.clear {clear: both}
.fixed {position: fixed}
.relative {position: relative}
.absolute {position: absolute}
.overflow-hidden {overflow: hidden}
.margin-none {margin: 0!important}
.padding-none {padding: 0!important}
.fill {width: 100%; height: 100%}
.full-width {width: 100%}
.full-height {height: 100%}
.display-block {display: block}
.display-none {display: none}
.italic {font-style: italic}

/*禁用IE输入框的X删除*/
input::-ms-clear {
	display: none;
}
/*页面作为iframe的子页面显示时隐藏横向滚动条*/
html {
	overflow-x: hidden;
}
/* 移除 input type="number" 时浏览器自带的上下箭头？ */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type="number"] {
	-moz-appearance: textfield;
}


/*字号*/
.size-12 {font-size: 0.32rem!important}
.size-14 {font-size: 0.37rem!important}
.size-16 {font-size: 0.43rem!important}
.size-18 {font-size: 0.48rem!important}
.size-20 {font-size: 0.53rem!important}
.size-22 {font-size: 0.59rem!important}
.size-24 {font-size: 0.64rem!important}
.size-26 {font-size: 0.69rem!important}
.font-bold {font-weight: bold}
.font-normal {font-weight: normal}

/*字色*/
.txt-white {color: #fff!important}
.txt-red {color: #ef0000!important}
.txt-black {color: #666!important}
.txt-blue {color: #409eff!important}
.txt-green {color: #67c23a!important}
.txt-gray {color: #ddd!important}

/*字体*/
.font-family-T {font-style: oblique}

/*背景色*/
.bg-white {background: #fff!important}
.bg-red {background: #ef0000!important; border: 0!important}
.bg-black {background: #666!important; border: 0!important}
.bg-blue {background: #409eff!important; border: 0!important}
.bg-green {background: #67c23a!important; border: 0!important}

/*仿 Quasar Flex 布局*/
.row, .column, .flex {display: flex; flex-wrap: wrap}
.column {flex-direction: column}
.col, .col-auto {width: auto; min-width: 0; max-width: 100%}
.col-auto {flex: 0 0 auto}/*使单元格只填充需要渲染的空间*/
.col {flex: 10000 1 0%}/*试图填充所有可用的空间，同时如果需要也可以缩小*/

/*具体见 https://www.runoob.com/w3cnote/flex-grammar.html */
.flex-start {justify-content: flex-start}
.flex-end {justify-content: flex-end}
.flex-center {justify-content: center}
.flex-between {justify-content: space-between}
.flex-around {justify-content: space-around}

.items-start {align-items: flex-start}
.items-end {align-items: flex-end}
.items-center {align-items: center}
.items-baseline {align-items: baseline}
.items-stretch {align-items: stretch}

.aline-start {align-content: flex-start}
.aline-end {align-content: flex-end}
.aline-center {align-content: center}
.aline-between {align-content: space-between}
.aline-around {align-content: space-around}
.aline-stretch {align-content: stretch}

/*页面进入缓冲*/
body {animation: fadeIn .7s}  
@keyframes fadeIn {  
    0% {opacity: 0}
    to {opacity: 1;}
}  
@-webkit-keyframes fadeIn {
    0% {opacity: 0}  
    to {opacity: 1;}  
}  

.fadeIn-up {animation: fadeIn-up .3s}
.fadeOut-up {animation: fadeOut-up .3s}
@keyframes fadeIn-up {
	0% {transform: translate3d(0,-20px,0); opacity:0}
	to {transform: translateZ(0); opacity:1}
}
@keyframes fadeOut-up {
	0% {transform: translateZ(0); opacity:1}
	to {transform: translate3d(0,-20px,0); opacity:0}
}

.fadeIn-down {animation: fadeIn-down .3s}
.fadeOut-down {animation: fadeOut-down .3s}
@keyframes fadeIn-down {
	0% {transform:translate3d(0,20px,0); opacity:0}
	to {transform:translateZ(0); opacity:1}
}
@keyframes fadeOut-down {
	0%{transform:translateZ(0); opacity:1}
	to{transform:translate3d(0,20px,0); opacity:0}
}

.fadeIn-left {animation: fadeIn-left .3s}
.fadeOut-left {animation: fadeOut-left .3s}
@keyframes fadeIn-left {
	0% {transform: translate3d(20px,0,0); opacity:0}
	to {transform: translateZ(0); opacity:1}
}
@keyframes fadeOut-left {
	0% {transform:translateZ(0); opacity:1}
	to {transform:translate3d(20px,0,0); opacity:0}
}

.fadeIn-right {animation: fadeIn-right .3s}
.fadeOut-right {animation: fadeOut-right .3s}
@keyframes fadeIn-right {
	0% {transform:translate3d(-20px,0,0); opacity:0}
	to {transform:translateZ(0); opacity:1}
}
@keyframes fadeOut-right {
	0%{transform:translateZ(0); opacity:1}
	to{transform:translate3d(-20px,0,0); opacity:0}
}


	

