/*禁用IE输入框的X删除*/
input::-ms-clear {
    display: none;
}
/*页面作为iframe的子页面显示时隐藏横向滚动条*/
html {
    overflow-x: hidden;
}
/* 移除 input type="number" 时浏览器自带的上下箭头？ */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}


.panel-group {
    max-height: 770px;
    overflow: auto;
}

.leftMenu {
    margin: 10px;
    margin-top: 5px;
}

    .leftMenu .panel-heading {
        font-size: 14px;
        padding-left: 20px;
        height: 36px;
        line-height: 36px;
        position: relative;
        cursor: pointer;
    }
        /*转成手形图标*/
        .leftMenu .panel-heading span {
            position: absolute;
            right: 10px;
            top: 12px;
        }

    .leftMenu .menu-item-left {
        padding: 2px;
        background: transparent;
        border: 1px solid transparent;
        border-radius: 6px;
        font-size: 14px;
    }

        .leftMenu .menu-item-left:hover {
            background: #C4E3F3;
            border: 1px solid #1E90FF;
        }

.bd-navbar {
    min-height: 4rem;
    background-color: #563d7c;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1)
}

@media (max-width:991px) {
    .bd-navbar {
        padding-right: .5rem;
        padding-left: .5rem
    }

        .bd-navbar .navbar-nav-scroll {
            max-width: 100%;
            height: 2.5rem;
            margin-top: .25rem;
            overflow: hidden;
            font-size: .875rem
        }

            .bd-navbar .navbar-nav-scroll .navbar-nav {
                padding-bottom: 2rem;
                overflow-x: auto;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch
            }
}

@media (min-width:768px) {
    @supports ((position:-webkit-sticky) or (position:sticky)) {
        .bd-navbar {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 101
        }
    }
}

.bd-navbar .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    color: #cdbfe3
}

    .bd-navbar .navbar-nav .nav-link.active, .bd-navbar .navbar-nav .nav-link:hover {
        color: #fff;
        background-color: transparent
    }

    .bd-navbar .navbar-nav .nav-link.active {
        font-weight: 500
    }

.bd-navbar .navbar-nav-svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top
}

.bd-navbar .dropdown-menu {
    font-size: .875rem
}

.bd-navbar .dropdown-item.active {
    font-weight: 500;
    color: #212529;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: .4rem .6rem;
    background-size: .75rem .75rem
}

.bd-masthead {
    position: relative;
    padding: 3rem 15px
}

    .bd-masthead h1 {
        line-height: 1
    }


    .bd-masthead .carbonad {
        margin-top: 0 !important;
        margin-bottom: -3rem !important
    }

@media (min-width:576px) {
    .bd-masthead {
        padding-top: 5rem;
        padding-bottom: 5rem
    }

        .bd-masthead .carbonad {
            margin-bottom: 0 !important
        }
}

@media (min-width:768px) {
    .bd-masthead h1 {
        font-size: 4rem
    }

    .bd-masthead .carbonad {
        margin-top: 3rem !important
    }
}

.bd-pretext {
    overflow: hidden;
    resize: none
}

.half-rule {
    width: 6rem;
    margin: 2.5rem 0
}

.masthead-followup .bd-clipboard {
    display: none
}

.masthead-followup .highlight {
    padding: .5rem 0;
    background-color: transparent
}

.bd-featured-sites {
    margin-right: -1px;
    margin-left: -1px
}

    .bd-featured-sites .col-6 {
        padding: 1px
    }

    .bd-featured-sites .img-fluid {
        margin-top: 0
    }

@media (min-width:768px) {
    .bd-featured-sites .col-sm-3:first-child img {
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem
    }

    .bd-featured-sites .col-sm-3:last-child img {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem
    }
}

@media (min-width:576px) {
    .bd-footer {
        text-align: left
    }
}

.bd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem
}

    .bd-footer-links li {
        display: inline-block
    }

        .bd-footer-links li + li {
            margin-left: 1rem
        }

.btn-bd-yellow {
    font-weight: 500;
    color: #ffe484;
    border-color: #ffe484
}

    .btn-bd-yellow:active, .btn-bd-yellow:hover {
        color: #2a2730;
        background-color: #ffe484;
        border-color: #ffe484
    }


.panel-group {
    max-height: 770px;
    overflow: auto;
}

.leftMenu {
    margin: 10px;
    margin-top: 5px;
}

    .leftMenu .panel-heading {
        font-size: 14px;
        padding-left: 20px;
        height: 36px;
        line-height: 36px;
        position: relative;
        cursor: pointer;
    }
        /*转成手形图标*/
        .leftMenu .panel-heading span {
            position: absolute;
            right: 10px;
            top: 12px;
        }

    .leftMenu .menu-item-left {
        padding: 2px;
        background: transparent;
        border: 1px solid transparent;
        border-radius: 6px;
        font-size: 14px;
    }

        .leftMenu .menu-item-left:hover {
            background: #C4E3F3;
            border: 1px solid #1E90FF;
        }

/* 兼容手机 */
.navbar.bd-navbar a.mobile-toggle{
    display: none;
}
@media (max-width: 768px){
    header.navbar{
        justify-content: space-between;
    }
    header.navbar .btns{
        white-space: nowrap;
    }
    /* header.navbar{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
    }
    main.main{
        margin-top: 60px;
    } */
    .navbar.bd-navbar a.btn{
        padding: 0;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
    }
    .navbar.bd-navbar a.btn span{
        display: none;
    }
    .navbar.bd-navbar a.mobile-toggle{
        display: inline-block;
        margin-left: 0.5rem;
        color: #fff;
    }
    .main .row .menu{
        display: none;
        background: #f1f1f1;
    }

    .bootstrap-table .fixed-table-container{
        border: none;
    }
    #grid .card-views .card-view{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        border-bottom: 1px solid #ddd;
    }
    #grid .card-views .card-view:last-child{
        border: none;
    }
    #grid .card-views .card-view .value{
        word-break: break-word;
    }
    #grid .card-views .card-view .value a.btn-sm{
        display: inline-block;
    }

    .userlog .input-group,
    .withdraw .input-group{
        margin-bottom: 10px;
    }
}