<div class="row align-items-center alert alert-primary">
    <div class="order-md-1 text-center text-md-left pr-md-5">
        <div class="main-top">
            <h5 class="bd-text-purple-bright">尊敬的商户：<span id="useraccount"></span>，欢迎您！ 您的商户ID是：<span id="userid"></span></h5>
        </div>
    </div>
</div>

<p class="mb-1 alert alert-danger" id="userextraalert" style="display:none">
    <i class="fa fa-bullhorn"></i>
    掌柜的请留步，小二发现您的收款信息没有写哦，为确保您的收益准时收到，请您及时填写<a href="@Url.ActionLink("Login","User")">马上去填写</a>
</p>

<div class="col mt-3">
    @*<h5 class="mb-6  bd-text-purple-bright">
        未完成订单
    </h5>

    <table id="grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    </table>*@
</div>
@section Scripts{
    <script>
        var estatedic = @Json.Serialize(Global.EnumsDic<TinyStore.EState>());
        var userextra = Store.UserExtend();
        $(function () {
            if (user) {
                $("#useraccount").text(user.Account);
                $("#userid").text(user.UserId);
                if (!userextra || !userextra.BankAccount) {
                    $("#userextraalert").show();
                }               
            }
            else {
                location.href = "@Url.ActionLink("Login","User")";
            }
        });

    </script>
}

