@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <partial name="Widgets/_Header"/>
    <link href="~/css/portal_store_login.css" rel="stylesheet" asp-append-version="true"/>
</head>
<body class="bd-home">
<header class="navbar navbar-expand navbar-dark flex-md-row bd-navbar" style="min-height:3rem;">
    <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    </div>
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link active" href="/">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">帮助中心</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">联系我们</a>
            </li>
        </ul>
    </div>
    <div class="btns">
        <div id="register" style="display:none">
            <a class="btn btn-bd-yellow d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/user/register">商户注册</a>
        </div>
        <div id="usercenter" style="display:none">
            <a class="btn btn-bd-yellow d-lg-inline-block ml-2 visible-lg-inline hidden-md" href="/user">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>用户中心</span>
            </a>
            <a class="btn btn-bd-yellow d-lg-inline-block ml-2 visible-lg-inline hidden-md" id="aUserLogout" href="javascript:;">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span>退出登录</span>
            </a>
        </div>
        <a class="mobile-toggle btn btn-info fa fa-bars" id="btn-menu"></a>
    </div>
</header>
<main class="bd-masthead " role="main">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-10">
                <h1 class="bd-text-purple-bright">商户注册</h1>
            </div>
            <div class="mx-auto col-md-6 mr-4 order-md-1 jumbotron">
                <div class="container-fluid">
                    <form class="form-horizontal" id="divMain">
                        <div class="form-group form-inline row">
                            <div class="form-control-label col-3">
                                账号
                            </div>
                            <div class="form-inline col">
                                <input type="text" class="form-control" name="Account" maxlength="20"/>
                            </div>
                        </div>
                        <div class="form-group form-inline row">
                            <div class="form-control-label col-3">
                                密码
                            </div>
                            <div class="form-inline col">
                                <input type="password" class="form-control" name="Password" maxlength="20"/>
                            </div>
                        </div>
                        <div class="form-group form-inline row">
                            <div class="form-control-label col-3">
                                确认密码
                            </div>
                            <div class="form-inline col">
                                <input type="password" class="form-control" name="Password2" maxlength="20"/>
                            </div>
                        </div>
                        <div class="form-group form-inline row">
                            <div class="form-control-label col-3">
                                联系QQ
                            </div>
                            <div class="form-inline col">
                                <input type="text" class="form-control" name="QQ"/>
                            </div>
                        </div>
                        <div class="form-group form-inline row">
                            <div class="form-control-label col-3">
                                保密邮箱
                            </div>
                            <div class="form-inline col">
                                <input type="text" class="form-control" name="Email" maxlength="200"/>
                            </div>
                        </div>
                        <div class="form-group form-inline row">
                            <div class="form-control-label col-3">
                                手机号
                            </div>
                            <div class="form-inline col">
                                <input type="text" class="form-control" name="TelPhone" maxlength="11"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <a class="pull-right btn btn-large btn-warning  d-none d-lg-inline-block" id="btnRegister">注册</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 order-md-1 text-center text-md-left">
                <div class="col-10 jumbotron">
                    已有账号直接登录？
                    <a href="/" class="btn btn-lg btn-bd-purple">商户登录</a>
                </div>
                <div class="col-10 jumbotron">
                    <p class=" mb-1">
                        特别申明：赌博、淫秽色情、裸聊、诱导交友、欺诈钓鱼、未取得文网棋牌游戏等类别禁止注册，一经发现直接冻结帐户，并上报网安部门！
                    </p>
                    <p class=" mb-1 ">
                        重要提示：为提升平台质量，有以下情况的商户，平台有权在不提前告知情况下直接冻结或删除！
                    </p>
                    <p class=" mb-1">
                        1.注册信息严重有误、注册后3天内无任何操作、60天内无交易或没有实质商品。
                    </p>
                    <p class=" mb-1">
                        2.云盘账号、虚假、无效、重复卡密、卡密为联系QQ提卡。
                    </p>
                    <p class=" mb-1">
                        3.不回复或消极处理客户投诉。
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="bd-footer text-muted">
    <div class="container-fluid p-3 p-md-5">
        <ul class="bd-footer-links">
            <li>
                <a href="http://show.gamemakesmoney.com/">gamemakesmoney</a>
            </li>
        </ul>
    </div>
</footer>

<script>

            $("#divMain").find("input[maxlength]").maxlength({
                alwaysShow: true,
                threshold: 10,
                warningClass: "badge badge-success",
                limitReachedClass: "badge badge-danger"
            });

            $.validator.addMethod("tel_rule", function (value, element, params) {
                var rule = /^1[3,5,7,8]\d{9}$/g;
                return this.optional(element) || (rule.test(value));
            }, "手机号码格式不正确");

            $.validator.addMethod("qq_rule", function (value, element, params) {
                var rule = /^[1-9][0-9]{4,19}$/g;
                return this.optional(element) || (rule.test(value));
            }, "QQ格式不正确");

            $("#divMain").validate_popover({

                rules: {
                    Account: {
                        required: true,
                        rangelength: [5, 10],
                    },
                    Password: {
                        required: true,
                        rangelength: [5, 10],
                    },
                    Password2: {
                        required: true,
                        rangelength: [5, 10],
                    },
                    Email: {
                        required: true,
                        email: true,
                        maxlength: 200
                    },
                    QQ: {
                        qq_rule: true
                    },
                    TelPhone: {
                        tel_rule: true
                    },
                }
            });


            $("#btnRegister").on("click", function () {
                if ($("#divMain").valid()) {
                    CY.Ajax("Register",
                        {
                            "account": $("#divMain").find("[name='Account']").val(),
                            "password": $("#divMain").find("[name='Password']").val(),
                            "qq": $("#divMain").find("[name='QQ']").val(),
                            "email": $("#divMain").find("[name='Email']").val(),
                            "telphone": $("#divMain").find("[name='TelPhone']").val()
                        },
                        function (msg) {
                            if (msg.Result) {
                                //location.href = "/store";
                                $.toast("注册成功！");
                                setTimeout("/user/login", 3000);
                            } else {
                                $.toast("注册失败！" + msg.Message);
                            }
                        });
                }
                return false;
            });
        </script>

</body>
</html>