<form id="divMain" class="row form-horizontal">
    <div class="col">
        <h4 class="mb-3  bd-text-purple-bright">
            店铺基本信息
        </h4>
        <div class="mt-2 form-horizontal">
            <div class="form-group form-inline row">
                <label class="col-lg-3 control-label">店铺名称</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control w-100" placeholder="店铺名称" name="Name" maxlength="10" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-lg-3 control-label">当前金额</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control w-100" disabled="disabled" name="Amount" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-lg-3 control-label">店铺模板</label>
                <div class="col-lg-5">
                    <select class="form-control w-100" name="Template">
                        @foreach (EStoreTemplate item in Enum.GetValues(typeof(EStoreTemplate)))
                        {
                            <option value="@((int)item)">@item</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-lg-3 control-label">联系邮箱</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control w-100" placeholder="联系邮箱" name="Email" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-lg-3 control-label">联系手机</label>
                <div class="col-lg-5">
                    <input type="tel" class="form-control w-100" name="TelPhone" maxlength="11" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-lg-3 control-label">
                    <a data-toggle="tooltip" data-html="true" title="以,分割">联系QQ</a>
                </label>
                <div class="col-lg-5">
                    <textarea name="QQ" placeholder="联系QQ" class="form-control w-100" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group form-inline row" style="display:none;">
                <label class="col-lg-3 control-label">一级域名</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control w-100" placeholder="一级域名" name="DomainTop" maxlength="40" />
                </div>
            </div>
            <div class="form-group form-inline row" style="display:none;">
                <label class="col-lg-3 control-label">二级域名</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control w-100" placeholder="二级域名" name="DomainSub" maxlength="40" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-lg-3 control-label">店铺标识</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control w-100" placeholder="店铺标识" name="UniqueId" maxlength="10" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-lg-3 control-label">单页面</label>
                <div class="col-lg-5">
                    <input type="checkbox" class="form-control w-100" placeholder="店铺标识" name="IsSingle" />
                </div>
            </div>
            @*<div class="form-group form-inline row">
            <label class="col-lg-3 control-label">首字母：</label>
            <div class="col-lg-5">
                <input type="text" class="form-control w-100" name="Initial" maxlength="1" />
            </div>
        </div>*@
            <div class="form-group form-inline row">
                <label class="col-lg-3 control-label">图标：</label>
                <div class="col-lg-5">
                    @*<input type="text" class="form-control w-100" name="Logo" />*@
                    <img name="Icon" style="width:80px;height:80px" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-lg-3 control-label">商户公告</label>
                <div class="col-lg-5">
                    <textarea name="Memo" class="form-control w-100" rows="5"></textarea>
                </div>
            </div>
            <div class="form-group form-inline row">
                <div class="form-control-label col-3">
                </div>
                <div class="form-inline  col-4">
                    <a id="btnSave" class="btn btn-primary" href="#">
                        <i class="fa fa-check"></i>保存设置
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <script>
        if (!storecurrent) {
            $.toast("请切换店铺！");
        }

        $("#divMain").find("input[maxlength]").maxlength({
            alwaysShow: true,
            threshold: 10,
            warningClass: "badge badge-success",
            limitReachedClass: "badge badge-danger"
        });


        $.validator.addMethod("tel_rule", function (value, element, params) {
            var rule = /^1[3,5,7,8]\d{9}$/g;
            return this.optional(element) || (rule.test(value));
        }, "手机号码格式不正确");

        $.validator.addMethod("qq_rule", function (value, element, params) {
            var rule = /^([1-9][0-9]{4,19}(,){0,1}){1,}$/g;
            return this.optional(element) || (rule.test(value));
        }, "QQ格式不正确");

        $.validator.addMethod("uniqueId_rule", function (value, element, params) {
            var rule = /^[A-Za-z][\w]{2,9}$/g;
            return this.optional(element) || (rule.test(value));
        }, "请输入3-10位的字母数字下划线，以字母开头");

        //$.validator.addMethod("initial_rule", function (value, element, params) {
        //    var rule = /^[A-Za-z]{1}$/g;
        //    return this.optional(element) || (rule.test(value));
        //}, "请输入1位首字母");

        $.validator.addMethod("logo_rule", function (value, element, params) {
            if (value == "")
                return true;
            else {
                return this.optional(element) || (value.startsWith("http"));
            }
        }, "图标链接格式不正确");

        $("#divMain").validate_popover({
            
            rules: {
                Name: {
                    required: true,
                    rangelength: [2, 10],
                },
                Email: {
                    required: true,
                    email: true
                },
                QQ: {
                    qq_rule: true
                },
                TelPhone: {
                    tel_rule: true
                },
                DomainTop: {
                    required: true,
                    rangelength: [5, 40],
                },
                DomainSub: {
                    required: true,
                    rangelength: [5, 40],
                },
                UniqueId: {
                    uniqueId_rule: true
                },
                //Initial: {
                //    initial_rule: true
                //},
                Logo: {
                    logo_rule: true
                }
            }
        });
        $("#btnSave").on("click", function () {
            if ($("#divMain").valid()) {
                var store_new = $("#divMain").FormGet();
                store_new.StoreId = storecurrent.StoreId;
                store_new.UserId = storecurrent.UserId;
                store_new.Level = storecurrent.Level;
                store_new.Logo = $("#divMain").find("[name='Icon']").attr('src');
                CY.Ajax("StoreSave", {
                        Token: Store.Token()
                    },{
                        "store": JSON.stringify(store_new)
                    },function (msg) {
                        if (msg.Result) {
                            storecurrent = msg.Data;
                            Store.StoreCurrent(storecurrent);
                            var indext = $("#slStore").get(0).selectedIndex;
                            storelist[indext] = storecurrent;
                            Store.StoreList(storelist);
                            
                            $("#divMain").find("[name='Icon']").attr('src',storecurrent.Logo);
                            $.toast("操作成功！");
                        } else {
                            $.toast(msg.Message);
                        }
                    });
            }
            return false;
        });
        if (storecurrent.UniqueId == "")
            storecurrent.UniqueId = "s" + CY.Random.NumByLength(9);
        else if (storecurrent.UniqueId.length > 10)
            storecurrent.UniqueId = "s" + store.UniqueId.substring(0, 9);
        $("#divMain").FormSet(storecurrent);
        $("#divMain").find("[data-toggle='tooltip']").tooltip();
        $("#divMain").find("[name='Icon']").attr('src', storecurrent.Logo + "?v=" + Math.random());

        CY.Page.FileSelect($("#divMain").find("[name='Icon']"), function (files) {
            var formData = new FormData();
            formData.append("file", files);
            formData.append("Model", "Store");
            formData.append("Id", storecurrent.StoreId);
            formData.append("Name", "Logo");
            $.ajax({
                url: CY.AjaxUrl + "/UploadFormFile",
                type: 'POST',
                headers: { "Token": Store.Token() },
                data: formData,
                // 告诉jQuery不要去处理发送的数据
                processData: false,
                // 告诉jQuery不要去设置Content-Type请求头
                contentType: false,
                success: function (responsejosn) {
                    if (responsejosn.Result) {
                        $("#divMain").find("[name='Icon']").attr('src', "");
                        $("#divMain").find("[name='Icon']").attr('src', responsejosn.Data);
                    }
                },
                error: function (responseStr) {
                    $.toast("文件上传失败！");
                }
            });
        });

    </script>
}
