<q-page padding>
    <div class="text-h5 text-weight-bold text-grey-8">
        <q-icon :name="userlinks[2].icon" size="md" class="on-left"></q-icon>{{userlinks[2].text}}
    </div>
    <q-separator class="q-my-sm"></q-separator>
    
    <div class="row q-gutter-md" style="height: 7rem;">
        <q-card class="col relative-position bg-primary text-white">
            <div class="fit q-pa-sm absolute-center column text-center" >
                <div class="col  text-subtitle1">
                    <label>资金</label>
                </div>
                <div class="col text-h5">
                    <q-icon name="fas fa-yen-sign" size="1.1rem"></q-icon>{{ userExtend.amount }}
                </div>
            </div>
        </q-card>
        <q-card class="col relative-position bg-orange text-white" >
            <div class="fit q-pa-sm absolute-center column text-center" >
                <div class="col text-subtitle1">
                    <label>签帐</label>
                </div>
                <div class="col text-h5">
                    <q-icon name="fas fa-yen-sign" size="1.1rem"></q-icon>{{ userExtend.amountCharge }}
                </div>
            </div>
        </q-card>
        <q-card class="col relative-position bg-positive text-white" >
            <div class="fit q-pa-sm absolute-center column text-center" >
                <div class="col text-subtitle1">
                    <label>提现</label> 
                </div>
                <div class="col text-h5">
                    <q-icon name="fas fa-yen-sign" size="1.1rem"></q-icon>{{ userExtend.amountCharge }}
                </div>
                <q-btn flat dense icon="history" size="sm" class="absolute-top-right q-ma-sm">
                    <q-tooltip>提现记录</q-tooltip>
                </q-btn>
                <q-btn flat dense icon="settings" size="sm" class="absolute-bottom-right q-ma-sm">
                    <q-tooltip>设置提现信息</q-tooltip>
                </q-btn>
            </div>
        </q-card>
    </div>
    
    <q-separator class="q-my-sm"></q-separator>
    
    <div class="row q-gutter-xs q-mx-none q-my-sm">
        <q-input outlined dense stack-label bg-color="white" style="min-width: 230px;"
                 readonly
                 class="col-xs-12 col-md-auto"
                 label="账目日期"
                 :value="billFilter.dateRange ? (Object.prototype.toString.call(billFilter.dateRange) === '[object String]' ? billFilter.dateRange + ' 至 ' + billFilter.dateRange : billFilter.dateRange.from + ' 至 ' + billFilter.dateRange.to) : '' "
                 @@clear="v=>billFilter.dateRange = null">
            <template v-slot:append>
                <q-icon name="event" color="primary" class="cursor-pointer">
                    <q-popup-proxy transition-show="scale" transition-hide="scale">
                        <q-date range mask="YYYY-MM-DD"
                                v-model="billFilter.dateRange"
                                :options="dateRangeOptionsFn">
                            <div class="row items-center justify-between">
                                <div class="col-auto">
                                    <q-btn v-close-popup label="上月" color="accent" @@click="billFilter.dateRange = {from:Quasar.date.formatDate(Quasar.date.subtractFromDate(Quasar.date.adjustDate(Date.now(),{date:1}),{month:1}),'YYYY-MM-DD'),to:Quasar.date.formatDate(Quasar.date.subtractFromDate(Quasar.date.adjustDate(Date.now(),{date:1}),{days:1}),'YYYY-MM-DD')}" class="col-shrink self-start"></q-btn>
                                    <q-btn v-close-popup label="本月" color="accent" @@click="billFilter.dateRange = {from:Quasar.date.formatDate(Quasar.date.adjustDate(Date.now(),{date:1}),'YYYY-MM-DD'),to:Quasar.date.formatDate(Date.now(),'YYYY-MM-DD')}" class="col-shrink self-start"></q-btn>
                                </div>
                                <div class="col-auto">
                                    <q-btn v-close-popup :label="$q.lang.label.clear" color="warning" flat @@click="billFilter.dateRange = null"></q-btn>
                                    <q-btn v-close-popup :label="$q.lang.label.close" color="primary" flat></q-btn>
                                </div>
                            </div>
                        </q-date>
                    </q-popup-proxy>
                </q-icon>
            </template>
        </q-input>
        <q-select outlined dense options-dense stack-label bg-color="white" style="min-width: 240px"
              class="col-xs-5 col-md-auto"
              label="账目类型"
              emit-value
              map-options
              v-model="billFilter.billType"
              :options="billTypeOptions">
        </q-select>
        <q-space></q-space>
        <q-btn :loading="billFilter.loading" class="col-shrink" color="primary" icon="search" label="搜索" @@click="loadBillData"></q-btn>
    </div>

    <q-table
        :grid="!$q.platform.is.desktop"

        row-key="billId"
        :data="billData"
        :columns="billColumns"

        @* selection="multiple" *@
        @* :selected.sync="orderSelected" *@

        :pagination.sync="billFilter.pagination"
        :rows-per-page-options="[10, 25, 50, 100, 200]"
        @@request="loadBillData">
        <template v-slot:body="props">
            <q-tr :props="props">
                <q-td key="billType" class="text-weight-bolder">
                    {{billTypeName(props.row.billType)}}
                </q-td>
                <q-td key="amount">
                    <q-badge v-if="props.row.amount !== 0" class="on-right cursor-pointer text-subtitle2" color="primary">
                        <q-icon name="fas fa-yen-sign" size="0.7rem"></q-icon>{{ props.row.amount }}
                        <q-tooltip>资金额度变动</q-tooltip>
                    </q-badge>
                    <q-badge v-if="props.row.amountCharge !== 0" class="on-right cursor-pointer text-subtitle2" color="orange">
                        <q-icon name="fas fa-yen-sign" size="0.7rem"></q-icon>{{ props.row.amountCharge }}
                        <q-tooltip>签帐额度变动</q-tooltip>
                    </q-badge>
                </q-td>
                <q-td key="createDate">
                    {{ Quasar.date.formatDate(props.row.createDate,'YYYY-MM-DD HH:mm') }}
                </q-td>
            </q-tr>
        </template>
        <template v-slot:item="props">
            <div class="q-pa-xs col-xs-12 col-sm-6 col-md-4">
                <q-card>
                    <q-card-section class="q-pa-sm row">
                        <div class="col-auto text-weight-bolder">
                            {{billTypeName(props.row.billType)}}
                        </div>
                        <div class="col text-center">
                            <q-badge v-if="props.row.amount !== 0" class="on-right cursor-pointer text-subtitle2" color="primary">
                                <q-icon name="fas fa-yen-sign" size="0.7rem"></q-icon>{{ props.row.amount }}
                                <q-tooltip>资金额度变动</q-tooltip>
                            </q-badge>
                            <q-badge v-if="props.row.amountCharge !== 0" class="on-right cursor-pointer text-subtitle2" color="orange">
                                <q-icon name="fas fa-yen-sign" size="0.7rem"></q-icon>{{ props.row.amountCharge }}
                                <q-tooltip>签帐额度变动</q-tooltip>
                            </q-badge>
                        </div>
                        <div class="col-auto text-center">
                            {{ Quasar.date.formatDate(props.row.createDate,'YYYY-MM-DD HH:mm') }}
                        </div>
                    </q-card-section>
                </q-card>
            </div>
        </template>
    </q-table>
</q-page>


@section Scripts{

    <script>
   var _page = {
       data:{
           billFilter:{
               loading:false,
               dateRange:{
                    from:Quasar.date.formatDate(Quasar.date.adjustDate(Date.now(),{date:1}),'YYYY-MM-DD'),
                    to:Quasar.date.formatDate(Date.now(),'YYYY-MM-DD')
               },
               billType:0,
               pagination:{                   
                   page: 1,
                   rowsPerPage: 25,
                   rowsNumber:0,
               },
           },           
           billData:[],
           billColumns:[
               {
                   align: 'left',
                   name:'billType',
                   label:'账目类型',
               },
               {
                   align: 'left',
                   name:'amount',
                   label:'账目金额',
               },
               {
                   align: 'left',
                   name:'createDate',
                   label:'账目日期',
               }
           ],         
       },
       beforeMount(){
           this.loadBillData();
       },
       computed:{
           billTypeOptions(){
               var data = [];
               data.push({value:0,label:'全部*'});
               var options =@Json.Serialize(Global.EnumsOptions<EBillType>());
               for (i in options){
                   data.push(options[i]);
               }
               return data;
           },
       },
       methods: {
           loadBillData(){
               if(arguments.length>0 && arguments[0].pagination){
                   this.billFilter.pagination = arguments[0].pagination;
               }
               
               var dateFrom='', dateTo='';
               if(this.billFilter.dateRange){            
                  var dateRangeType = Object.prototype.toString.call(this.billFilter.dateRange);
                  if (dateRangeType === '[object String]'){
                       dateFrom=this.billFilter.dateRange;    
                       dateTo=this.billFilter.dateRange;                    
                  }else{
                       dateFrom=this.billFilter.dateRange.from;    
                       dateTo=this.billFilter.dateRange.to; 
                  }   
               }
               
               if (dateFrom==='' && dateTo===''){
                   Notify.Warning('账目日期不能为空');
                   return;
               }
               
               this.billFilter.loading =true;
               UserApi('BillPageList',{
                   from:dateFrom,
                   to:dateTo,
                   billType:this.billFilter.billType,
                   pageSize:this.billFilter.pagination.rowsPerPage,
                   pageIndex:this.billFilter.pagination.page},true)
                  .then((response)=> {
                      if (response.data.code === 1){ 
                          this.billData = response.data.data.rows;
                          this.billFilter.pagination.rowsNumber = response.data.data.total;   
                      } else{
                          Notify.Warning('账目数据加载失败');
                      }
                      this.billFilter.loading =false;
                  })
                  .catch( (error)=> {
                      this.billFilter.loading =false;
                      Notify.Warning('接口通信错误');
                      console.error(error);
                  });
           },
           dateRangeOptionsFn(date){
               var date_end = Quasar.date.formatDate(Date.now(),'YYYY/MM/DD');
               var date_start = Quasar.date.formatDate(Quasar.date.addToDate(Date.now(),{month:-3}),'YYYY/MM/DD');
               return date >= date_start && date <= date_end;
           },
           billTypeName(billType){
               for (i in this.billTypeOptions) {
                 if (this.billTypeOptions[i].value === billType){
                     return this.billTypeOptions[i].label;
                 }
               }
               return '未知';
           }
       }
   };
   DeepMerge(_layout,_page);
   new Vue(_layout);
    </script>
}