<q-page padding>
    <div class="text-h5 text-weight-bold text-grey-8">
        <q-icon :name="userlinks[0].icon" size="md" class="on-left"></q-icon>{{userlinks[0].text}}
    </div>

    <q-separator class="q-my-sm"></q-separator>

    <q-form class="q-gutter-md q-ma-none">
        <div class="text-h6">
            <label class="on-left">帐号:</label>{{user.account}}
            <q-badge color="secondary" align="top" v-if="user.level">
                {{user.level}}<q-icon name="star" class="q-ml-xs"/>
                <q-tooltip content-class="bg-indigo"
                           transition-show="flip-right"
                           transition-hide="flip-left"
                           :offset="[10, 10]">
                    不同等级商户的货源成本价格不同
                </q-tooltip>
            </q-badge>
        </div>

        <q-input outlined dense stack-label bg-color="white"
                 label="姓名"
                 v-model.trim="userExtend.name">
        </q-input>
        <q-input outlined dense stack-label bg-color="white"
                 label="身份证"
                 v-model.trim="userExtend.idCard"
                 mask="##################"
                 fill-mask>
        </q-input>
        <q-input outlined dense stack-label bg-color="white"
                 label="联系邮箱"
                 v-model.trim="userExtend.email"
                 placeholder="@@">
        </q-input>
        <q-input outlined dense stack-label bg-color="white"
                 label="联系电话"
                 v-model.trim="userExtend.telPhone">
        </q-input>
        <q-input outlined dense stack-label bg-color="white"
                 label="联系QQ"
                 v-model.trim="userExtend.qq"
                 maxlength="16">
        </q-input>

        <q-btn :loading="btnSaveLoading" class="float-right" color="primary" icon="save" label="保存" @@click="userExtendSave"></q-btn>
    </q-form>
</q-page>

@section Scripts{
    <script>
   var _page = {
       data:{
           btnSaveLoading:false
       },
       beforeMount(){
       },
       methods: {
           userExtendSave(){
               this.btnSaveLoading = true;
               UserApi("UserExtendSave",this.userExtend)
               .then((response)=> {
                   if (response.data.code === 1){
                       Store.UserExtend(response.data.data);                       
                       Notify.Info('保存成功');
                   }
                   else{
                       Notify.Warning('保存失败，数据格式错误');
                   }
                   this.btnSaveLoading = false;
               })
               .catch( (error)=> {
                   Notify.Warning('接口通信错误');
                   console.error(error);
                   this.btnSaveLoading = false;
               });
           }
       }
   };
   DeepMerge(_layout,_page);
   new Vue(_layout);
    </script>
}