<q-page padding>
    <div class="text-h5 text-weight-bold text-grey-8">
        <q-icon :name="userlinks[2].icon" size="md" class="on-left"></q-icon>{{userlinks[2].text}}
    </div>
    <q-separator class="q-my-sm"></q-separator>
    
    <div class="row q-gutter-md" style="height: 7rem;">
        <q-card class="col relative-position bg-primary text-white">
            <div class="fit q-pa-sm absolute-center column text-center" >
                <div class="col  text-subtitle1">
                    <label>资金</label>
                </div>
                <div class="col text-h5">
                    <q-icon name="fas fa-yen-sign" size="1.1rem"></q-icon>{{ userExtend.amount }}
                </div>
            </div>
        </q-card>
        <q-card class="col relative-position bg-orange text-white" >
            <div class="fit q-pa-sm absolute-center column text-center" >
                <div class="col text-subtitle1">
                    <label>签帐</label>
                </div>
                <div class="col text-h5">
                    <q-icon name="fas fa-yen-sign" size="1.1rem"></q-icon>{{ userExtend.amountCharge }}
                </div>
            </div>
        </q-card>
        <q-card class="col relative-position bg-positive text-white" >
            <div class="fit q-pa-sm absolute-center column text-center" >
                <div class="col text-subtitle1">
                    <label>提现</label> 
                </div>
                <div class="col text-h5">
                    <q-icon name="fas fa-yen-sign" size="1.1rem"></q-icon>{{ withDrawAmountTotal }}
                </div>
                <q-btn flat dense icon="history" size="sm" class="absolute-top-right q-ma-xs"
                       @@click="withdrawListDialogShow">
                    <q-tooltip>提现记录</q-tooltip>
                </q-btn>
                <q-btn flat dense icon="settings" size="sm" class="absolute-bottom-right q-ma-xs"
                       @@click="userWithdrawDialog = true">
                    <q-tooltip>设置提现信息</q-tooltip>
                </q-btn>
            </div>
        </q-card>
    </div>
    
    <q-separator class="q-my-sm"></q-separator>
    
    <div class="row q-gutter-xs q-my-sm">
        <q-input outlined dense stack-label bg-color="white" style="min-width: 230px;"
                 readonly
                 class="col-xs-12 col-md-auto"
                 label="账目日期"
                 :value="billFilter.dateRange ? (Object.prototype.toString.call(billFilter.dateRange) === '[object String]' ? billFilter.dateRange + ' 至 ' + billFilter.dateRange : billFilter.dateRange.from + ' 至 ' + billFilter.dateRange.to) : '' "
                 @@clear="v=>billFilter.dateRange = null">
            <template v-slot:append>
                <q-icon name="event" color="primary" class="cursor-pointer">
                    <q-popup-proxy transition-show="scale" transition-hide="scale">
                        <q-date range mask="YYYY-MM-DD"
                                v-model="billFilter.dateRange"
                                :options="dateRangeOptionsFn">
                            <div class="row items-center justify-between">
                                <div class="col-auto">
                                    <q-btn v-close-popup label="上月" color="accent" @@click="billFilter.dateRange = {from:Quasar.date.formatDate(Quasar.date.subtractFromDate(Quasar.date.adjustDate(Date.now(),{date:1}),{month:1}),'YYYY-MM-DD'),to:Quasar.date.formatDate(Quasar.date.subtractFromDate(Quasar.date.adjustDate(Date.now(),{date:1}),{days:1}),'YYYY-MM-DD')}" class="col-shrink self-start"></q-btn>
                                    <q-btn v-close-popup label="本月" color="accent" @@click="billFilter.dateRange = {from:Quasar.date.formatDate(Quasar.date.adjustDate(Date.now(),{date:1}),'YYYY-MM-DD'),to:Quasar.date.formatDate(Date.now(),'YYYY-MM-DD')}" class="col-shrink self-start"></q-btn>
                                </div>
                                <div class="col-auto">
                                    <q-btn v-close-popup :label="$q.lang.label.clear" color="warning" flat @@click="billFilter.dateRange = null"></q-btn>
                                    <q-btn v-close-popup :label="$q.lang.label.close" color="primary" flat ></q-btn>
                                </div>
                            </div>
                        </q-date>
                    </q-popup-proxy>
                </q-icon>
            </template>
        </q-input>
        <q-select outlined dense options-dense stack-label bg-color="white" style="min-width: 140px"
              class="col-xs-5 col-md-auto"
              label="账目类型"
              emit-value
              map-options
              v-model="billFilter.billType"
              :options="billTypeOptions">
        </q-select>
        <q-space></q-space>
        <q-btn :loading="billFilter.loading" class="col-shrink" color="primary" icon="search" label="搜索" @@click="loadBillData"></q-btn>
    </div>

    <q-table
        :grid="!$q.platform.is.desktop"

        row-key="billId"
        :data="billData"
        :columns="billColumns"

        :pagination.sync="billFilter.pagination"
        :rows-per-page-options="[10, 25, 50, 100, 200]"
        @@request="loadBillData">
        <template v-slot:body="props">
            <q-tr :props="props">
                <q-td key="billType" class="text-weight-bolder">
                    {{billTypeName(props.row.billType)}}
                </q-td>
                <q-td key="amount">
                    <q-badge v-if="props.row.amount !== 0" class="on-right cursor-pointer text-subtitle2" color="primary">
                        <q-icon name="fas fa-yen-sign" size="0.7rem"></q-icon>{{ props.row.amount }}
                        <q-tooltip>资金额度变动</q-tooltip>
                    </q-badge>
                    <q-badge v-if="props.row.amountCharge !== 0" class="on-right cursor-pointer text-subtitle2" color="orange">
                        <q-icon name="fas fa-yen-sign" size="0.7rem"></q-icon>{{ props.row.amountCharge }}
                        <q-tooltip>签帐额度变动</q-tooltip>
                    </q-badge>
                </q-td>
                <q-td key="createDate">
                    {{ Quasar.date.formatDate(props.row.createDate,'YYYY-MM-DD HH:mm') }}
                </q-td>
            </q-tr>
        </template>
        <template v-slot:item="props">            
            <q-card class="q-pa-xs col-12">
                <q-card-section class="q-pa-sm row">
                    <div class="col-auto text-weight-bolder">
                        {{billTypeName(props.row.billType)}}
                    </div>
                    <div class="col text-center">
                        <q-badge v-if="props.row.amount !== 0" class="on-right cursor-pointer text-subtitle2" color="primary">
                            <q-icon name="fas fa-yen-sign" size="0.7rem"></q-icon>{{ props.row.amount }}
                            <q-tooltip>资金额度变动</q-tooltip>
                        </q-badge>
                        <q-badge v-if="props.row.amountCharge !== 0" class="on-right cursor-pointer text-subtitle2" color="orange">
                            <q-icon name="fas fa-yen-sign" size="0.7rem"></q-icon>{{ props.row.amountCharge }}
                            <q-tooltip>签帐额度变动</q-tooltip>
                        </q-badge>
                    </div>
                    <div class="col-auto text-center">
                        {{ Quasar.date.formatDate(props.row.createDate,'YYYY-MM-DD HH:mm') }}
                    </div>
                </q-card-section>
            </q-card>
        </template>
    </q-table>
</q-page>

<q-dialog v-model="withdrawListDialog">
    <q-card style="max-width: 500px; width: 500px;">
        <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">提现历史</div> <q-btn color="secondary" class="on-right" size="sm" round dense icon="add" @@click="withdrawAddDialogShow"><q-tooltip>申请提现</q-tooltip></q-btn>
            <q-space ></q-space>
            <q-btn icon="close" flat round dense v-close-popup></q-btn>
        </q-card-section>
        <q-card-section>
            <q-list>
                <q-item class="q-pa-none q-my-sm" v-for="(item,i) in withdrawData">
                    <q-card>
                        <q-card-section class="row q-pa-xs">
                            <q-input outlined dense stack-label bg-color="white"
                                     readonly
                                     class="col-xs-6 col-md-3"
                                     label="收款方式"
                                     :value="bankTypeName(item.bankType)">
                            </q-input>
                            <q-input outlined dense stack-label bg-color="white"
                                     readonly
                                     class="col-xs-6 col-md-3"
                                     label="收款名称"
                                     :value="item.bankAccount">
                            </q-input>
                            <q-input outlined dense stack-label bg-color="white"
                                     readonly
                                     class="col-xs-12 col-md"
                                     label="收款账户"
                                     :value="item.bankPersonName">
                            </q-input>
                        </q-card-section>
                        <q-card-section class="row q-pa-xs justify-between">
                            <q-badge color="positive">提现日期:{{ Quasar.date.formatDate(item.createDate,'YYYY-MM-DD HH:mm') }}</q-badge>
                            <q-badge color="positive">提现金额:<q-icon name="fas fa-yen-sign" size="0.7rem"></q-icon> {{ item.amount }}</q-badge>
                        </q-card-section>
                        <q-separator v-if="item.isFinish" class="q-my-xs"></q-separator>
                        <q-card-section class="row q-pa-xs justify-between" v-if="item.isFinish && item.amountFinish > 0">
                            <q-badge color="primary">到账日期:{{ Quasar.date.formatDate(item.finishDate,'YYYY-MM-DD HH:mm') }}</q-badge>
                            <q-badge color="primary">到账金额:<q-icon name="fas fa-yen-sign" size="0.7rem"></q-icon> {{ item.amountFinish }}</q-badge>
                        </q-card-section>
                        <q-card-section class="row q-pa-xs justify-between" v-if="item.isFinish && item.amountFinish == 0">
                            <q-badge color="warning">取消日期:{{ Quasar.date.formatDate(item.finishDate,'YYYY-MM-DD HH:mm') }}</q-badge>
                            <q-badge color="warning">取消原因:{{ item.memo }}</q-badge>
                        </q-card-section>
                    </q-card>
                </q-item>
            </q-list>
        </q-card-section>
    </q-card>
</q-dialog>

<q-dialog v-model="withdrawAddDialog">
    <q-card style="max-width: 500px; width: 500px;">
        <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">申请提现</div>
            <q-space ></q-space>
            <q-btn icon="close" flat round dense v-close-popup></q-btn>
        </q-card-section>
        <q-card-section class="row">
            <q-input outlined dense stack-label bg-color="white"
                     readonly
                     class="col-xs-6 col-md-3"
                     label="收款方式"
                     :value="bankTypeName(userExtend.bankType)">
            </q-input>
            <q-input outlined dense stack-label bg-color="white"
                     readonly
                     class="col-xs-6 col-md-3"
                     label="收款名称"
                     :value="userExtend.bankAccount">
            </q-input>
            <q-input outlined dense stack-label bg-color="white"
                     readonly
                     class="col-xs-12 col-md"
                     label="收款账户"
                     :value="userExtend.bankPersonName">
            </q-input>
        </q-card-section>
        <q-card-section>
            <q-input outlined dense stack-label bg-color="white"
                     label="提现金额 范围限制[@(SiteContext.Config.WithDrawMin+" - " +SiteContext.Config.WithDrawMax)]"
                     v-model.number="withdrawAmount"
                     ref="withdrawAmount"
                     :rules="[val => !!val || '必须输入提现金额',val => (val >= @SiteContext.Config.WithDrawMin && val <= @SiteContext.Config.WithDrawMax) || '提现金额必须在限制范围内']">
            </q-input>
        </q-card-section>
        <q-card-section class="row justify-end">
            <q-btn color="warning" icon="edit" label="保存" @@click="withdrawAdd"></q-btn>
        </q-card-section>
    </q-card>
</q-dialog>

<q-dialog v-model="userWithdrawDialog">
    <q-card style="max-width: 500px; width: 500px;">
        <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">提现设置</div>
            <q-space ></q-space>
            <q-btn icon="close" flat round dense v-close-popup></q-btn>
        </q-card-section>
        <q-card-section>
            <q-select outlined dense options-dense stack-label bg-color="white"
                      class="q-pb-md"
                      label="收款方式"
                      v-model="userExtend.bankType"
                      emit-value
                      map-options
                      :options="bankTypeOptions">
            </q-select>
            <q-input outlined dense stack-label bg-color="white"
                     label="收款名称"
                     v-model.trim="userExtend.bankPersonName"
                     ref="userExtend_bankPersonName"
                     :rules="[val => !!val || '必须输入收款名称']">
            </q-input>
            <q-input outlined dense stack-label bg-color="white"
                     label="收款账户"
                     v-model.trim="userExtend.bankAccount"
                     ref="userExtend_bankAccount"
                     :rules="[val => !!val || '必须输入收款账户']">
            </q-input>
        </q-card-section>
        <q-card-section class="row justify-end">
            <q-btn color="warning" icon="edit" label="保存" @@click="userWithdrawSave"></q-btn>
        </q-card-section>
    </q-card>
</q-dialog>

@section Scripts{

    <script>
   var _page = {
       data:{
           billFilter:{
               loading:false,
               dateRange:{
                    from:Quasar.date.formatDate(Quasar.date.adjustDate(Date.now(),{date:1}),'YYYY-MM-DD'),
                    to:Quasar.date.formatDate(Date.now(),'YYYY-MM-DD')
               },
               billType:0,
               pagination:{                   
                   page: 1,
                   rowsPerPage: 25,
                   rowsNumber:0,
               },
           },           
           billData:[],
           billColumns:[
               {
                   align: 'left',
                   name:'billType',
                   label:'账目类型',
               },
               {
                   align: 'left',
                   name:'amount',
                   label:'账目金额',
               },
               {
                   align: 'left',
                   name:'createDate',
                   label:'账目日期',
               }
           ],
           
         
           userWithdrawDialog:false,
           
           withdrawListDialog:false,
           withdrawData:[],                      
                      
           withdrawAddDialog:false,
           withdrawAmount:0,
       },
       beforeMount(){
           this.loadBillData();
           this.loadWithDrawData();
       },
       computed:{
           billTypeOptions(){
               var data = [];
               data.push({value:0,label:'全部*'});
               var options =@Json.Serialize(Global.EnumsOptions<EBillType>());
               for (i in options){
                   data.push(options[i]);
               }
               return data;
           },
           bankTypeOptions(){
               var data = [];
               var options =@Json.Serialize(Global.EnumsOptions<EBankType>());
               for (i in options){
                   data.push(options[i]);
               }
               return data;
           },
           withDrawAmountTotal(){
               var amountTotal =0;
               for (i in this.withdrawData) {
                   if (!this.withdrawData[i].isFinish){
                       amountTotal+= this.withdrawData[i].amount;
                   }                 
               }
               return amountTotal;
           }
       },
       methods: {
           loadBillData(){
               if(arguments.length>0 && arguments[0].pagination){
                   this.billFilter.pagination = arguments[0].pagination;
               }
               
               var dateFrom='', dateTo='';
               if(this.billFilter.dateRange){            
                  var dateRangeType = Object.prototype.toString.call(this.billFilter.dateRange);
                  if (dateRangeType === '[object String]'){
                       dateFrom=this.billFilter.dateRange;    
                       dateTo=this.billFilter.dateRange;                    
                  }else{
                       dateFrom=this.billFilter.dateRange.from;    
                       dateTo=this.billFilter.dateRange.to; 
                  }   
               }
               
               if (dateFrom==='' && dateTo===''){
                   Notify.Warning('账目日期不能为空');
                   return;
               }
               
               this.billFilter.loading =true;
               UserApi('BillPageList',{
                   from:dateFrom,
                   to:dateTo,
                   billType:this.billFilter.billType,
                   pageSize:this.billFilter.pagination.rowsPerPage,
                   pageIndex:this.billFilter.pagination.page},true)
                  .then((response)=> {
                      if (response.data.code === 1){ 
                          this.billData = response.data.data.rows;
                          this.billFilter.pagination.rowsNumber = response.data.data.total;   
                      } else{
                          Notify.Warning('账目数据加载失败');
                      }
                      this.billFilter.loading =false;
                  })
                  .catch( (error)=> {
                      this.billFilter.loading =false;
                      Notify.Warning('接口通信错误');
                      console.error(error);
                  });
           },
           loadWithDrawData(){
               UserApi('WithDrawList')
                .then((response)=> {
                    if (response.data.code === 1){ 
                        this.withdrawData = response.data.data;
                    } else{
                        Notify.Warning('提现记录加载失败');
                    }
                })
                .catch( (error)=> {
                    Notify.Warning('接口通信错误');
                    console.error(error);
                });
           },
           dateRangeOptionsFn(date){
               var date_end = Quasar.date.formatDate(Date.now(),'YYYY/MM/DD');
               var date_start = Quasar.date.formatDate(Quasar.date.addToDate(Date.now(),{month:-3}),'YYYY/MM/DD');
               return date >= date_start && date <= date_end;
           },
           billTypeName(billType){
               for (i in this.billTypeOptions) {
                 if (this.billTypeOptions[i].value === billType){
                     return this.billTypeOptions[i].label;
                 }
               }
               return '未知';
           },
           bankTypeName(bankType){
               for (i in this.bankTypeOptions) {
                 if (this.bankTypeOptions[i].value === bankType){
                     return this.bankTypeOptions[i].label;
                 }
               }
               return '未知';
           },
           withdrawListDialogShow(){
               this.loadWithDrawData();
               this.withdrawListDialog = true;
           },
           withdrawAddDialogShow(){
               if (!!this.userExtend.bankAccount && !!this.userExtend.bankPersonName){
                   this.withdrawAmount = 0;
                   this.withdrawAddDialog = true;
                   this.withdrawListDialog = false;
               }else{
                   this.$q.dialog({
                       title: '提示',
                       message: '尊敬的商户，您还未设置提现账户，是否立刻设置？',
                       cancel: true,
                       persistent: true
                     }).onOk(data => {
                        this.withdrawListDialog = false;
                        this.userWithdrawDialog = true;
                     })
               }
           },
           withdrawAdd(){
               this.$refs.withdrawAmount.validate();
               if (!this.$refs.withdrawAmount.hasError){
                   UserApi('UserWithDraw',{amount:this.withdrawAmount},true)
                     .then((response)=> {
                         if (response.data.code === 1){ 
                             Store.UserExtend(response.data.data);
                             this.userExtend = Store.UserExtend();
                             Notify.Info('申请成功');   
                             this.withdrawAddDialog = false;
                             this.withdrawListDialogShow();
                             this.loadBillData();
                         } else if (response.data.code === 12){
                            Notify.Warning('还有未结束的提现申请，无法重复申请提现');
                        }else if (response.data.code === 11){
                              Notify.Warning('当前商户资金不足以提现');
                          }
                         else{
                           Notify.Warning('未知错误');
                       }
                     })
                     .catch( (error)=> {
                         Notify.Warning('接口通信错误');
                         console.error(error);
                     });
               }
           },
           userWithdrawSave(){
                 this.$refs.userExtend_bankPersonName.validate();
                 this.$refs.userExtend_bankAccount.validate();
                 if (!this.$refs.userExtend_bankPersonName.hasError && !this.$refs.userExtend_bankAccount.hasError){
                     UserApi('UserWithDrawSave',this.userExtend)
                          .then((response)=> {
                              if (response.data.code === 1){ 
                                  Store.UserExtend(response.data.data);    
                                  this.userExtend = Store.UserExtend();
                                  Notify.Info('保存成功');
                                  this.userWithdrawDialog = false;
                              } else{
                                  Notify.Warning('保存失败');
                              }
                          })
                          .catch( (error)=> {
                              Notify.Warning('接口通信错误');
                              console.error(error);
                          });
                 }
           }
       }
   };
   DeepMerge(_layout,_page);
   new Vue(_layout);
    </script>
}