<!DOCTYPE html>
<html>
<head>
    <partial name="Widgets/_Header" />
</head>
<body class="bd-home">
    <header class="navbar navbar-expand navbar-dark flex-md-row bd-navbar" style="min-height:3rem;">
        <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <select class="form-control" id="slStore">
            </select>
        </div>
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link active" href="/">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">帮助中心</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">联系我们</a>
                </li>
            </ul>
        </div>
        <div class="btns">
            @*<a class="btn btn-bd-yellow d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="">商户注册</a>*@
            @*<a class="btn btn-bd-yellow d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/order/search">订单查询</a>*@

            <a class="btn btn-bd-yellow d-lg-inline-block ml-2 visible-lg-inline hidden-md" href="/user/index">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>商户中心</span>
            </a>
            <a class="btn btn-bd-yellow d-lg-inline-block ml-2 visible-lg-inline hidden-md" id="aUserLogout" href="javascript:;">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span>退出登录</span>
            </a>
            <a class="mobile-toggle btn btn-info fa fa-bars" id="btn-menu"></a>
        </div>
    </header>

    <main class="main" role="main">
        <div class="row">
            <div class="menu col-12 col-md-2">
                <div class="panel-group table-responsive" role="tablist">
                    <div class="panel panel-primary leftMenu">
                        <div class="panel-heading" id="collapseListGroupHeading1" data-toggle="collapse" data-target="#collapseListGroup1" role="tab">
                            <h6 class="bd-text-purple">
                                <i class="fa fa-home"></i>
                                综合信息
                                <i class="fa fa-caret-down"></i>
                            </h6>
                        </div>
                        <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a class="menu-item-left" href="/user/index">
                                        管理中心
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a class="menu-item-left" href="/user/basicinfo">
                                        基本设置
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a class="menu-item-left" href="/user/pwdmodify">
                                        修改密码
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a class="menu-item-left" href="/user/userlog">
                                        操作记录
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary leftMenu" data-store>
                        <div class="panel-heading" id="collapseListGroupHeading2" data-toggle="collapse" data-target="#collapseListGroup2" role="tab">
                            <h6 class="bd-text-purple">
                                <i class="fa fa-credit-card"></i>
                                商品管理
                                <i class="fa fa-caret-down"></i>
                            </h6>
                        </div>
                        <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading2">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a class="menu-item-left" href="/user/product">
                                        商品管理
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a class="menu-item-left" href="/user/stock">
                                        库存卡密
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a class="menu-item-left" href="/user/stockrecycle">
                                        卡密回收站
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a class="menu-item-left" href="/user/supplier">
                                        供货商管理
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary leftMenu" data-store>
                        <div class="panel-heading" id="collapseListGroupHeading3" data-toggle="collapse" data-target="#collapseListGroup3" role="tab">
                            <h6 class="bd-text-purple">
                                <i class="fa fa-shopping-cart"></i>
                                交易管理
                                <i class="fa fa-caret-down"></i>
                            </h6>
                        </div>
                        <div id="collapseListGroup3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a class="menu-item-left" href="/user/order">
                                        订单记录
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a class="menu-item-left" href="/user/benifit">
                                        收益统计
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary leftMenu" data-store>
                        <div class="panel-heading" id="collapseListGroupHeading4" data-toggle="collapse" data-target="#collapseListGroup4" role="tab">
                            <h6 class="bd-text-purple">
                                <i class="fa fa-university"></i>
                                店铺管理
                                <i class="fa fa-caret-down"></i>
                            </h6>
                        </div>
                        <div id="collapseListGroup4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading4">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a class="menu-item-left" href="/user/store">
                                        基本信息
                                    </a>
                                </li>

                                @*<li class="list-group-item">
                                        <a class="menu-item-left" href="/store/storelink">
                                            店铺链接
                                        </a>
                                    </li>*@

                                @*<li class="list-group-item">
                                        <a class="menu-item-left" href="/store/payments">
                                            支付方式
                                        </a>
                                    </li>*@
                                @*<li class="list-group-item">
                                    <a class="menu-item-left" href="/store/promocode">
                                        管理优惠券
                                    </a>
                                </li>*@
                                <li class="list-group-item">
                                    <a class="menu-item-left" href="/user/withdraw">
                                        申请提现
                                    </a>
                                </li>
                                @*<li class="list-group-item">
                                        <button class="menu-item-left">
                                            投诉管理
                                        </button>
                                    </li>
                                    <li class="list-group-item">
                                        <button class="menu-item-left">
                                            商家百科
                                        </button>
                                    </li>
                                    <li class="list-group-item">
                                        <button class="menu-item-left">
                                            站内消息
                                        </button>
                                    </li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript">

        var user = Store.User();
        var storelist = Store.StoreList();
        var storecurrent = Store.StoreCurrent();

        var storeid = storecurrent.StoreId;//商户登录时 获取storelist 设置到 Store.StoreList(); 同时把索引0的对象赋值给  Store.StoreCurrent()

        $(function () {
            if (user && storelist) {
                var $slStore = $("#slStore");
                var options = '';
                for (var key in storelist) {
                    options += '<option value= "' + storelist[key].StoreId + '">' + storelist[key].Name + '</option>';
                }
                $slStore.html(options);
                $slStore.val(storeid);
            }
            else {
                location.href = "/user/login";
            }

            if (storelist.length == 0) {
                $("[data-store]").hide();
            }

            $("#aUserLogout").on("click", function () {
                Store.UserRemove();
                Store.TokenRemove();
                Store.StoreListRemove()
                Store.StoreCurrentRemove();
                Store.UserExtendRemove();
                setTimeout(function () { location.href = "/user/login" }, 1000);
            });

            $("#slStore").on("change", function () {
                storeid = $("#slStore").val();
                Store.StoreCurrent(storelist[$("#slStore").get(0).selectedIndex])
                location.href = location.href;
            });
        });


        function GetEnumName(id, checkValue) {
            var select = document.getElementById(id);
            for (var i = 0; i < select.options.length; i++) {
                if (select.options[i].value == checkValue) {
                    return select.options[i].text;
                }
            }
        }
        function UrlShortShow(m_id) {
            var url = "@TinyStore.Site.SiteContext.Config.SiteDomain"+ "/order_" + m_id;
            grid.find("[name='shortlink']").popover('hide');
            grid.find("[orderid='" + m_id + "']").attr("data-content", url);
            grid.find("[orderid='" + m_id + "']").popover('show');
            $(".popover-body").on("click", function (event) {
                event = CY.EventFix(event);
                CY.StopPropagation(event);
                window.open($(event.target).html());
            });
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
