<form id="divMain" class="row form-horizontal">
    <div class="col-md-6 col-xs-12">
        <h4 class="mb-3 bd-text-purple-bright">
            商户基本信息
        </h4>
        <div class="mt-2 form-horizontal">
            <div class="form-group form-inline row">
                <label class="col-md-4 col-xs-4 control-label">商户编号：</label>
                <div class="col-md-8 col-xs-8">
                    <span id="userid"></span>
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-md-4 col-xs-4 control-label">商户名：</label>
                <div class="col-md-8 col-xs-8">
                    <span id="useraccount"></span>
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-md-4 col-xs-4 control-label">商户姓名：</label>
                <div class="col-md-8 col-xs-8">
                    <input type="text" class="form-control" name="Name" maxlength="10" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-md-4 col-xs-4 control-label">电子邮箱：</label>
                <div class="col-md-8 col-xs-8">
                    <input class="form-control" name="Email" type="email" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-md-4 col-xs-4 control-label">手机号：</label>
                <div class="col-md-8 col-xs-8">
                    <input type="tel" class="form-control" name="TelPhone" maxlength="11" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-md-4 col-xs-4 control-label">
                    <a data-toggle="tooltip" data-html="true" title="以,分割">QQ号：</a>
                </label>
                <div class="col-md-8 col-xs-8">
                    <textarea name="QQ" placeholder="QQ号" class="form-control w-100" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-md-4 col-xs-4 control-label">身份证号：</label>
                <div class="col-md-8 col-xs-8">
                    <input type="text" class="form-control" name="IdCard" maxlength="18" />
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <h4 class="mb-3 bd-text-purple-bright">
            商户收款信息
        </h4>
        <div class="jumbotron" style="padding: 1rem">
            <i class="fa fa-bullhorn"></i>
            推荐使用支付宝收款，更方便更快捷！！收款人姓名必须填写真实姓名！

        </div>
        <div class="mt-2 form-horizontal">
            <div class="form-group form-inline row">
                <label class="col-md-4 col-xs-4 control-label">收款方式：</label>
                <div class="col-md-8 col-xs-8">
                    <select class="form-control" name="BankType" id="BankType">
                        <option value=0>请选择</option>
                        @foreach (TinyStore.EBankType type in Enum.GetValues(typeof(TinyStore.EBankType)))
                        {
                            <option value="@((int)type)">@type</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-md-4 col-xs-4 control-label">收款帐号：</label>
                <div class="col-md-8 col-xs-8">
                    <input type="text" class="form-control" name="BankAccount" value="" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-md-4 col-xs-4 control-label">收款开户行：</label>
                <div class="col-md-8 col-xs-8">
                    <input type="text" class="form-control" name="BankPersonName" value="" />
                </div>
            </div>
            <div class="form-inline">
                <a id="btnSave" class="btn btn-primary" href="#">
                    <i class="fa fa-check"></i>保存设置
                </a>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <script>
        var user = Store.User();
        var userextend = Store.UserExtend();
        $(function () {
            if (user) {
                $("#divMain").FormSet(userextend);
            }
            else {
                location.href = "/user/login";
            }

            $("#btnSave").on("click", function () {
                if ($("#divMain").valid()) {
                    CY.Ajax("UserBasicSave", {
                        Token: Store.Token()
                    }, {
                        "name": $("#divMain").find("[name='Name']").val(),
                        "email": $("#divMain").find("[name='Email']").val(),
                        "qq": $("#divMain").find("[name='QQ']").val(),
                        "telphone": $("#divMain").find("[name='TelPhone']").val(),
                        "idcard": $("#divMain").find("[name='IdCard']").val(),
                        "banktype": $("#divMain").find("[name='BankType']").val(),
                        "bankaccount": $("#divMain").find("[name='BankAccount']").val(),
                        "BankPersonName": $("#divMain").find("[name='BankPersonName']").val(),
                    }, function (msg) {
                        if (msg.Result) {
                            var userextend = msg.Data;
                            Store.UserExtend(userextend);
                            $("#BankType").val(userextend.BankType);
                            $("#divMain").FormSet(userextend);
                            $.toast("操作成功！");
                        } else {
                            $.toast(msg.Message);
                            location.reload();
                        }
                    });
                }
                return false;
            });
            //$("#BankType").val(userextend.BankType);
            //$("#divMain").FormSet(userextend);
            $("#divMain").find("[data-toggle='tooltip']").tooltip();
        });
        $("#divMain").find("input[maxlength]").maxlength({
            alwaysShow: true,
            threshold: 10,
            warningClass: "badge badge-success",
            limitReachedClass: "badge badge-danger"
        });

        $.validator.addMethod("tel_rule", function (value, element, params) {
            if (value == "")
                return true;
            else {
                var rule = /^1[3,5,7,8]\d{9}$/g;
                return this.optional(element) || (rule.test(value));
            }
        }, "手机号码格式不正确");

        $.validator.addMethod("qq_rule", function (value, element, params) {
            var rule = /^([1-9][0-9]{4,19}(,){0,1}){1,}$/g;
            return this.optional(element) || (rule.test(value));
        }, "QQ格式不正确");

        $.validator.addMethod("uniqueid_rule", function (value, element, params) {
            var rule = /^[0-9A-Za-z]{4,20}$/g;
            return this.optional(element) || (rule.test(value));
        }, "请输入4到20位字母或数字");

        $.validator.addMethod("idcard_rule", function (value, element, params) {
            if (value == "")
                return true;
            else {
                var rule = /^(\d{14}|\d{17})(\d|x)$/g;
                return this.optional(element) || (rule.test(value));
            }
        }, "身份证格式不正确");

        $("#divMain").validate_popover({
            
            rules: {
                Name: {
                    required: true,
                    rangelength: [2, 10],
                },
                Email: {
                    required: true,
                    email: true
                },
                QQ: {
                    qq_rule: true
                },
                TelPhone: {
                    tel_rule: true
                },
                IdCard: {
                    idcard_rule: true
                },
                UniqueId: {
                    uniqueid_rule: true
                },
                BankAccount: {
                    rangelength: [10, 20],
                },
                BankPersonName: {
                    rangelength: [2, 40],
                },
            }
        });
    </script>
}