@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <partial name="Widgets/_Header" />
    <link href="~/css/portal_store_login.css" rel="stylesheet" asp-append-version="true" />
</head>
<body class="bd-home">
    <header class="navbar navbar-expand navbar-dark flex-md-row bd-navbar" style="min-height:3rem;">
        <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        </div>
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link active" href="/">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">帮助中心</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">联系我们</a>
                </li>
            </ul>
        </div>
        <div class="btns">
            <div id="register" >
                <a class="btn btn-bd-yellow d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/store/register">商户注册</a>
            </div>
            <a class="mobile-toggle btn btn-info fa fa-bars" id="btn-menu"></a>
        </div>
    </header>
    <main class="bd-masthead" role="main">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 text-center hidden-sm-down">
                    <div class="col-12">
                        <h1 class="mb-5 bd-text-purple-bright">全新购卡体验</h1>
                        <p class="mb-5 lead">
                            致力于解决虚拟商品的快捷寄售服务，为商户及其买家提供，便捷、绿色、安全、快速的销售和购买体验。
                        </p>
                        <p class="lead mb-4">
                        </p>
                        <div class="d-flex flex-column flex-md-row lead mb-3">
                            <a href="/user/register" class="btn btn-lg btn-bd-purple mb-3 mb-md-0 mr-md-3">商户注册</a>
                        </div>
                    </div>
                </div>
                <div class="mx-auto col-md-5 order-md-2 jumbotron">
                    <div class="container-fluid">
                        <form class="form-horizontal" id="divMain">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <h2 class=" ml-0 text-center bd-text-purple">
                                        用户登录
                                    </h2>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group col-sm-10">
                                    <div class="input-group-prepend">
                                        <i class="input-group-text fa fa-user"></i>
                                    </div>
                                    <input name="Account" type="text" class="form-control" placeholder="用户名">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group col-sm-10">
                                    <div class="input-group-prepend">
                                        <i class="input-group-text fa fa-lock"></i>
                                    </div>
                                    <input name="Password" type="password" class="form-control" placeholder="密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group col-sm-10">
                                    <a class="btn btn-large btn-warning" id="btnLogin">登录</a>
                                    @*<button type="button" class="btn btn-link btn-sm ml-6">忘记密码</button>*@
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="bd-footer text-muted">
        <div class="container-fluid p-3 p-md-5">
            <ul class="bd-footer-links">
                <li><a href="http://show.gamemakesmoney.com/">gamemakesmoney</a></li>
            </ul>
        </div>
    </footer>
    <script>        
        $(function () {
            $("#divMain").find("input[maxlength]").maxlength({
                alwaysShow: true,
                threshold: 10,
                warningClass: "badge badge-success",
                limitReachedClass: "badge badge-danger"
            });
            $("#divMain").validate_popover({
                
                rules: {
                    Account: {
                        required: true,
                        minlength: 3,
                        maxlength: 20
                    },
                    Password: {
                        required: true,
                        minlength: 3,
                        maxlength: 20
                    }
                }
            });

            $("#btnLogin").on("click", function () {
                if ($("#divMain").valid()) {
                    CY.Ajax("Login",
                        {
                            "account": $("#divMain").find("[name='Account']").val(),
                            "password": $("#divMain").find("[name='Password']").val()
                        },
                        function (data, xhr) {
                            if (data.Result) {

                                Store.Token(xhr.getResponseHeader("Token")); 
                                Store.User(data.Data.User);
                                Store.UserExtend(data.Data.UserExtend);
                                Store.StoreList(data.Data.StoreList);
                                Store.StoreCurrent(data.Data.StoreList[0]);
                                setTimeout(function () { location.href = "@Url.ActionLink("","User")"; }, 2000);
                                
                            } else {
                                $.toast("登录失败！" + data.Message + "");
                            }
                        });
                }
                return false;
            });
        });
    </script>
</body>
</html>
